<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <title>Footer Example</title>
        <style>


        </style>
</head>
<div th:fragment="footer">
        <div class="footer">

                <div class="footer1 py-3">
                        <div class="footer-logo">
                                <img class="bounce" th:src="@{/css/images/logoft.png}" height="70">
                        </div>
                        상호명: JE TOY | 대표자: 정희린 | 시설관리부 : 정희린
                        <br>
                        10:00~17:00 (점심시간: 12:00~13:30) 토,일,공휴일 휴무
                        <p>
                        문의하기: 대표번호: 032-521-8889 | 주소: 인천광역시 부평구 부평동 경원대로 1366 | 팩스: 032-521-8889
                        </p>
                        <p>
                         개인정보보호관리자: 정희린
                        </p>
                </div>
                <div class="footer2">
                </div>
        </div>
</div>
</html>