@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.footer {
 font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    position: relative;
    background-color: rgb(255 255 255 / 70%);
    backdrop-filter: blur(10px);
   box-shadow: 0 1px 15px rgba(240, 237, 233, 0.5);
   border-top: 1px solid #eeeeee;
   height:190px;
   top:50px;}
}
.footer-logo{
position: relative;
}
.footer1{
 position: absolute;
left:190px;
}
.footer2{
 position: absolute;
left:190px;
}

@media (min-width: 769px) and (max-width: 1024px){
                .footer{
                left:-120px;
}
                }

.content{
 font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}